# Python/Django
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
db.sqlite3
media/

# React
remedy-frontend/node_modules/
remedy-frontend/.pnp
remedy-frontend/.pnp.js
remedy-frontend/coverage
remedy-frontend/build
remedy-frontend/.DS_Store
remedy-frontend/.env.local
remedy-frontend/.env.development.local
remedy-frontend/.env.test.local
remedy-frontend/.env.production.local
remedy-frontend/npm-debug.log*
remedy-frontend/yarn-debug.log*
remedy-frontend/yarn-error.log* 